conf/xsens.dtd

<!-- XSENS MTi protocol DTD -->

<!ELEMENT xsens (message|data)+>
<!ELEMENT message (field*)>
<!ELEMENT field EMPTY>

<!ATTLIST message
  name CDATA #REQUIRED
  ID CDATA #REQUIRED
  to (MT,host) #REQUIRED
  length CDATA #IMPLIED>

<!ATTLIST data
  name CDATA #REQUIRED
  length CDATA #REQUIRED>

<!ATTLIST field
  name CDATA #REQUIRED
  format CDATA #IMPLIED
  scaling CDATA #IMPLIED
  unit CDATA #IMPLIED>
