conf/gcs/layout.dtd

<!ELEMENT layout (rows|columns|widget)>
<!ELEMENT rows (columns|widget)*>
<!ELEMENT columns (rows|widget)*>
<!ELEMENT widget (papget)*>
<!ELEMENT papget EMPTY>

<!ATTLIST layout
width CDATA #IMPLIED
height CDATA #IMPLIED
>

<!ATTLIST rows
size CDATA #IMPLIED
>

<!ATTLIST columns
size CDATA #IMPLIED
>

<!ATTLIST widget
name CDATA #REQUIRED
size CDATA #IMPLIED
>

<!ATTLIST papget
field CDATA #REQUIRED
x CDATA #REQUIRED
y CDATA #REQUIRED
format CDATA #IMPLIED
>
