conf/flight_plans/flight_plan.dtd

<!-- Paparazzi flight plan DTD -->

<!ELEMENT flight_plan (rc_control,dl_settings?,waypoints,include*,blocks)>

<!ELEMENT rc_control (mode*)>
<!ELEMENT mode (setting*)>
<!ELEMENT setting EMPTY>

<!ELEMENT dl_settings (dl_setting*)>
<!ELEMENT dl_setting EMPTY>

<!ELEMENT waypoints (waypoint+)>
<!ELEMENT waypoint EMPTY>

<!ELEMENT blocks (block+)>
<!ELEMENT block (exception|while|heading|attitude|go|xyz|set|circle|deroute|stay|follow|path)*>

<!ELEMENT include (arg|with)*>
<!ELEMENT arg EMPTY>
<!ELEMENT with EMPTY>

<!ELEMENT while (while|heading|attitude|go|xyz|set|circle|deroute|stay)*>
<!ELEMENT exception EMPTY>
<!ELEMENT heading EMPTY>
<!ELEMENT attitude EMPTY>
<!ELEMENT go EMPTY>
<!ELEMENT xyz EMPTY>
<!ELEMENT set EMPTY>
<!ELEMENT circle EMPTY>
<!ELEMENT deroute EMPTY>
<!ELEMENT stay EMPTY>
<!ELEMENT follow EMPTY>
<!ELEMENT path (path_point*)>
<!ELEMENT path_point EMPTY>

<!ATTLIST flight_plan name CDATA #REQUIRED>
<!ATTLIST flight_plan lat0 CDATA #REQUIRED>
<!ATTLIST flight_plan lon0 CDATA #REQUIRED>
<!ATTLIST flight_plan max_dist_from_home CDATA #REQUIRED>
<!ATTLIST flight_plan qfu CDATA #REQUIRED>
<!ATTLIST flight_plan ground_alt CDATA #REQUIRED>
<!ATTLIST flight_plan security_height CDATA #REQUIRED>
<!ATTLIST flight_plan alt CDATA #REQUIRED>
<!ATTLIST flight_plan ir_square_utmx_min CDATA #IMPLIED>
<!ATTLIST flight_plan ir_square_utmy_max CDATA #IMPLIED>
<!ATTLIST flight_plan ir_square_width CDATA #IMPLIED>
<!ATTLIST flight_plan ir_correct_steps CDATA #IMPLIED>

<!ATTLIST mode name CDATA #REQUIRED>

<!ATTLIST setting var CDATA #REQUIRED>
<!ATTLIST setting type (int16|float) #REQUIRED>
<!ATTLIST setting range CDATA #REQUIRED>
<!ATTLIST setting rc (gain_1_up|gain_2_up|gain_1_down|gain_2_down) #REQUIRED>

<!ATTLIST dl_setting
var CDATA #REQUIRED
min CDATA #REQUIRED
max CDATA #REQUIRED
step CDATA #IMPLIED
>

<!ATTLIST waypoints
utm_x0 CDATA #IMPLIED
utm_y0 CDATA #IMPLIED>

<!ATTLIST waypoint
name CDATA #REQUIRED
x CDATA #REQUIRED
y CDATA #REQUIRED
lat CDATA #IMPLIED
lon CDATA #IMPLIED
alt CDATA #IMPLIED>

<!ATTLIST block 
name CDATA #REQUIRED
description CDATA #IMPLIED>

<!ATTLIST while cond CDATA #IMPLIED>

<!ATTLIST exception
cond CDATA #REQUIRED
deroute CDATA #REQUIRED>

<!ATTLIST heading 
course CDATA #REQUIRED
vmode CDATA #IMPLIED
alt CDATA #IMPLIED
gaz CDATA #IMPLIED
climb CDATA #IMPLIED
pitch CDATA #IMPLIED
until CDATA #REQUIRED>

<!ATTLIST attitude
roll CDATA #REQUIRED
vmode CDATA #IMPLIED
alt CDATA #IMPLIED
gaz CDATA #IMPLIED
climb CDATA #IMPLIED
pitch CDATA #IMPLIED
until CDATA #REQUIRED>

<!ATTLIST go 
wp CDATA #REQUIRED
wp_qdr CDATA #IMPLIED
wp_dist CDATA #IMPLIED
from CDATA #IMPLIED
from_qdr CDATA #IMPLIED
from_dist CDATA #IMPLIED
hmode CDATA #IMPLIED
vmode CDATA #IMPLIED
cam_mode (null|fix|manual|nadir|target|follow) #IMPLIED
cam_ac_target CDATA #IMPLIED
target CDATA #IMPLIED
pitch CDATA #IMPLIED
alt CDATA #IMPLIED
until CDATA #IMPLIED
approaching_time CDATA #IMPLIED
gaz CDATA #IMPLIED>

<!ATTLIST path_point
wp CDATA #REQUIRED>

<!ATTLIST set
var CDATA #REQUIRED
value CDATA #REQUIRED
until CDATA #IMPLIED>

<!ATTLIST follow
ac_id CDATA #REQUIRED
distance CDATA #REQUIRED
height CDATA #REQUIRED
cam_mode (null|fix|manual|nadir|target|follow) #IMPLIED
target CDATA #IMPLIED
cam_ac_target CDATA #IMPLIED>

<!ATTLIST xyz
cam_mode (null|fix|manual|nadir|target|follow) #IMPLIED
cam_ac_target CDATA #IMPLIED
target CDATA #IMPLIED
radius CDATA #IMPLIED>

<!ATTLIST circle
wp CDATA #REQUIRED
wp_qdr CDATA #IMPLIED
wp_dist CDATA #IMPLIED
radius CDATA #REQUIRED
alt CDATA #IMPLIED
vmode CDATA #IMPLIED
cam_mode (null|fix|manual|nadir|target|follow) #IMPLIED
target CDATA #IMPLIED
cam_ac_target CDATA #IMPLIED
climb CDATA #IMPLIED
until CDATA #IMPLIED>

<!ATTLIST path
radius CDATA #REQUIRED>

<!ATTLIST stay
wp CDATA #REQUIRED
vmode CDATA #IMPLIED
gaz CDATA #IMPLIED>

<!ATTLIST deroute
block CDATA #REQUIRED>

<!ATTLIST include
name CDATA #REQUIRED
procedure CDATA #REQUIRED
x CDATA #IMPLIED
y CDATA #IMPLIED
rotate CDATA #IMPLIED>

<!ATTLIST arg
name CDATA #REQUIRED
value CDATA #REQUIRED>

<!ATTLIST with
from CDATA #REQUIRED
to CDATA #REQUIRED>
