conf/flight_plans/flight_plan.dtd

<!-- Paparazzi flight plan DTD -->

<!ELEMENT flight_plan (rc_control,waypoints,include*,blocks)>

<!ELEMENT rc_control (mode*)>
<!ELEMENT mode (setting*)>
<!ELEMENT setting EMPTY>

<!ELEMENT waypoints (waypoint+)>
<!ELEMENT waypoint EMPTY>

<!ELEMENT blocks (block+)>
<!ELEMENT block (exception|while|heading|go|xyz|circle|deroute|stay|for)*>

<!ELEMENT include (arg|with)*>
<!ELEMENT arg EMPTY>
<!ELEMENT with EMPTY>

<!ELEMENT while (while|heading|go|xyz|circle|deroute|stay|for)*>
<!ELEMENT for (while|heading|go|xyz|circle|deroute|stay|for)*>
<!ELEMENT exception EMPTY>
<!ELEMENT heading EMPTY>
<!ELEMENT go EMPTY>
<!ELEMENT xyz EMPTY>
<!ELEMENT circle EMPTY>
<!ELEMENT deroute EMPTY>
<!ELEMENT stay EMPTY>

<!ATTLIST flight_plan name CDATA #REQUIRED>
<!ATTLIST flight_plan lat0 CDATA #REQUIRED>
<!ATTLIST flight_plan lon0 CDATA #REQUIRED>
<!ATTLIST flight_plan max_dist_from_home CDATA #REQUIRED>
<!ATTLIST flight_plan qfu CDATA #REQUIRED>
<!ATTLIST flight_plan ground_alt CDATA #REQUIRED>
<!ATTLIST flight_plan security_height CDATA #REQUIRED>
<!ATTLIST flight_plan alt CDATA #REQUIRED>

<!ATTLIST mode name CDATA #REQUIRED>

<!ATTLIST setting var CDATA #REQUIRED>
<!ATTLIST setting type (int16|float) #REQUIRED>
<!ATTLIST setting range CDATA #REQUIRED>
<!ATTLIST setting rc (gain_1_up|gain_2_up|gain_1_down|gain_2_down) #REQUIRED>
<!ATTLIST waypoints utm_x0 CDATA #REQUIRED>
<!ATTLIST waypoints utm_y0 CDATA #REQUIRED>

<!ATTLIST waypoint
name CDATA #REQUIRED
x CDATA #REQUIRED
y CDATA #REQUIRED
lat CDATA #IMPLIED
lon CDATA #IMPLIED
alt CDATA #IMPLIED>

<!ATTLIST block name CDATA #REQUIRED>

<!ATTLIST while cond CDATA #IMPLIED>

<!ATTLIST for
var CDATA #REQUIRED
from CDATA #REQUIRED
to CDATA #REQUIRED>

<!ATTLIST exception
cond CDATA #REQUIRED
deroute CDATA #REQUIRED>

<!ATTLIST heading course CDATA #REQUIRED
vmode CDATA #IMPLIED
gaz CDATA #IMPLIED
climb CDATA #IMPLIED
pitch CDATA #IMPLIED
until CDATA #IMPLIED>

<!ATTLIST go 
wp CDATA #IMPLIED
x CDATA #IMPLIED
y CDATA #IMPLIED
wp_qdr CDATA #IMPLIED
wp_dist CDATA #IMPLIED
from CDATA #IMPLIED
from_qdr CDATA #IMPLIED
from_dist CDATA #IMPLIED
hmode CDATA #IMPLIED
vmode CDATA #IMPLIED
cam_mode (null|fix|manual|nadir|target) #IMPLIED
target CDATA #IMPLIED
pitch CDATA #IMPLIED
alt CDATA #IMPLIED
until CDATA #IMPLIED
gaz CDATA #IMPLIED>

<!ATTLIST xyz
cam_mode (null|fix|manual|nadir|target) #IMPLIED
target CDATA #IMPLIED
radius CDATA #IMPLIED>

<!ATTLIST circle
wp CDATA #REQUIRED
radius CDATA #REQUIRED
alt CDATA #IMPLIED
vmode CDATA #IMPLIED
cam_mode (null|fix|manual|nadir|target) #IMPLIED
target CDATA #IMPLIED
climb CDATA #IMPLIED
until CDATA #IMPLIED>

<!ATTLIST stay
wp CDATA #REQUIRED
vmode CDATA #IMPLIED
gaz CDATA #IMPLIED>

<!ATTLIST deroute
block CDATA #REQUIRED>

<!ATTLIST include
name CDATA #REQUIRED
procedure CDATA #REQUIRED
x CDATA #IMPLIED
y CDATA #IMPLIED
rotate CDATA #IMPLIED>

<!ATTLIST arg
name CDATA #REQUIRED
value CDATA #REQUIRED>

<!ATTLIST with
from CDATA #REQUIRED
to CDATA #REQUIRED>


